black
flake8
ipython
isort
jupyter
jupyterlab
kedro==0.18.4
nbstripout
pytest-cov
pytest-mock
pytest
tensorflow
pandas
nltk
kedro_tf_text @ git+https://github.com/dermatologist/kedro-tf-text.git@develop
kedro_tf_image @ git+https://github.com/dermatologist/kedro-tf-image.git@develop
kedro_tf_utils @ git+https://github.com/dermatologist/kedro-tf-utils.git@develop
python-json-logger
Pillow
scikit-learn
tensorflow-text
gensim
opencv-python
matplotlib